@page
@model BankWeb.Pages.Customers.DeleteAccessDeniedModel
@{
    ViewData["Title"] = "Delete Error";
}

<div class="page-heading header-text">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Delete functionality is available.<br /> </p>
    <p class="text-danger">However it is not available for Admins or Cashiers.<br /> Contact programmer to gain access.</p>
    <button id="update-profile-button" type="button" class="btn btn-primary mt-3" onclick="window.history.back();">
        <i class="fa-solid fa-arrow-left mr-2"></i>Return
    </button>
</div>
