@page
@model CreateUserModel
@{
    ViewData["Title"] = "Create User";
}

<div class="page-heading header-text">
    <h1>@ViewData["Title"]</h1>
    <button id="update-profile-button" type="button" class="btn btn-primary mt-3" onclick="window.history.back();">
        <i class="fa-solid fa-arrow-left mr-2"></i>Return
    </button>
</div>

<div class="container">
    <form method="post">
        <div>
            <label for="Email">Email:</label>
            <input id="Email" name="Email" type="text" value="@Model.Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label for="Password">Password:</label>
            <input id="Password" name="Password" type="password" />
            <span asp-validation-for="Password"></span>
        </div>

        <button type="submit">Create</button>
    </form>
</div>
