<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
    <meta name="description" content="Milles Bank is a ASP.NET project for financial services.">
    <meta name="author" content="MillesBank">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Milles Banking</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    @*Fontawesome CDN*@
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/assets/css/templatemo-finance-business.css">
    <link rel="stylesheet" href="/assets/css/owl.css">
    <link rel="icon" href="~/assets/images/favicon.ico" />

    <!--
    https://templatemo.com/tm-545-finance-business
    -->
</head>
<!-- Header -->

<body>
    <header class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" asp-page="/Index"><h2>Milles Banking</h2></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="background-color: transparent; border: none;">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            @await Component.InvokeAsync("Weather")
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/AboutUs">About</a>
                        </li>
                        @if (User.IsInRole("Cashier"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownServices" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Services
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownServices">
                                    <a class="dropdown-item" asp-page="/Customers/CustomerAdminInfo">Customers</a>
                                    <a class="dropdown-item" asp-page="/Transactions/TransactionAdminInfo">Transactions</a>
                                    <a class="dropdown-item" asp-page="/Accounts/AccountsAdminInfo">Accounts</a>
                                </div>
                            </li>
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Users/ManageUsers">Manage Users</a>
                            </li>
                        }
                    </ul>

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>



    @RenderBody()

    <button class="scrolltop-mobile" id="update-profile-button" onclick="scrollToTop()" style="width: 50px; height: 50px; position: fixed; bottom: 20px; left: 20px; z-index: 1; border: none; border-radius: 50%; font-size: 18px; padding: 10px 15px; outline: none; cursor: pointer;">
        <i class="fa-solid fa-arrow-up text-white"></i>
    </button>

    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Copyright &copy; 2024 Milles Bank <br /> by Mille Elfver

                    </p>
                </div>
            </div>
        </div>
    </div>

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/assets/js/custom.js"></script>
    <script src="/assets/js/owl.js"></script>
    <script src="/assets/js/slick.js"></script>
    <script src="/assets/js/accordions.js"></script>

    <script language="text/Javascript">
        cleared[0] = cleared[1] = cleared[2] = 0; 
        function clearField(t) {                   
            if (!cleared[t.id]) {                     
                cleared[t.id] = 1; 
                t.value = '';   
                t.style.color = '#fff';
            }
        }
    </script>

    <script>
        function scrollToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>