@page
@model BankWeb.Pages.AboutUsModel
@{
}

<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>About this Project</h1>
                <span>Made by Mille Elfver using ASP.NET</span>
            </div>
        </div>
    </div>
</div>

<div class="more-info about-info mb-3" style="margin-top: 45px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="more-info-content">
                    <div class="row">
                        <div class="col-md-6 align-self-center">
                            <div class="right-content">
                                <span>My solid knowledge using .NET Core</span>
                                <h2>Get to know <em>this project</em></h2>
                                <p>
                                    This project was made using ASP.NET Core 8.0 Razor pages, Class Library, Automapper, ViewModels, Services, Interfaces, DI, SOC, DRY and much more.
                                    <br><br>It's a bank that handles statistics, customers, accounts, transactions with CRUD operations and checks for money laundering. <br /> Made dynamic with roles: cashier, admin and anonymous.
                                </p>
                                <a style="margin-right: 30px;" asp-area="Identity" asp-page="/Account/Login" class="filled-button">Login to see more</a>
                                <a class="filled-button mobile-github-aboutme" href="https://github.com/Milles98"><i class="fa-brands fa-github mr-2"></i>Check out my GitHub</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="left-image">
                                <img src="assets/images/about-image.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

