@page
@model BankWeb.Pages.DepositReceiptModel
@{
}

<div class="page-heading header-text">
    <h1>Deposit Confirmation</h1>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Transaction ID</th>
            <th scope="col">Account ID</th>
            <th scope="col">Amount</th>
            <th scope="col">Time</th>
        </tr>
    </thead>

    <tr>
        <td>@Model.TransactionId</td>
        <td>@Model.AccountId</td>
        <td>SEK: @Model.Amount</td>
        <td>@Model.Time</td>
    </tr>
</table>