@page
@model BankWeb.Pages.GiftPageModel
@{
}

<div class="page-heading header-text">
    <h1>Why would you send this person a gift?</h1>
    <h6>Shame on you!</h6>
    <button id="update-profile-button" type="button" class="btn btn-primary mt-3" onclick="window.history.back();">
        <i class="fa-solid fa-arrow-left mr-2"></i>Return
    </button>
</div>
