@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@ViewData["Title"]</h1>
                <button id="update-profile-button" type="button" class="btn btn-primary mt-3" asp-page="/UsersFolder/ManageUsers">Return to Manage Users</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</div>
