@page
@model DeleteUserModel
@{
    ViewData["Title"] = "Delete User";
}

<div class="page-heading header-text">
    <h1>@ViewData["Title"]</h1>
    <h6>Are you sure you want to delete the following user?</h6>
    <button type="button" class="btn btn-secondary mt-3" onclick="window.history.back();">
        <i class="fa-solid fa-arrow-left mr-2"></i>Return
    </button>
</div>

<div class="container" style="width: 40%; margin: auto; padding: 20px;">
    <table class="table container table-hover table-bordered shadow p-3 mb-2 bg-white rounded">
        <thead>
            <tr>
                <th>Email</th>
                <th class="d-none d-sm-table-cell">Roles</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Email</td>
                <td class="d-none d-sm-table-cell">
                    @string.Join(", ", await Model.GetRoles())
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container d-flex justify-content-center">
    <form method="post">
        <button class="btn btn-danger mt-3 mb-3" type="submit" style="width: 150px;">
            <i class="fa-solid fa-trash-can mr-2"></i>Delete
        </button>
    </form>
</div>
